tbody > tr:nth-child(2n + 1){
    background: #DCDCDC;
    z-index: -1;
    border-collapse: collapse;
}

tbody > tr:hover{
    background: #76EEC6;
}

td:hover
{
    position: relative;
}

td:hover::after
{
    content: "";
    position: absolute;
    left: 0;
    top: -2000px;
    height: 5000px;
    width: 100%;
    background-color: #76EEC6;
    z-index:-1;
}
